<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
  </startup>
 
  <appSettings>
    <add key="twitterAccessToken" value="*"/>
    <add key="twitterAccessTokenSecret" value="*"/>
    <add key="twitterConsumerKey" value="*"/>
    <add key="twitterConsumerSecret" value="*"/>
    <add key="TimeInterval" value="3600000"/>
  </appSettings>

</configuration>
